 body .container {
   width: 850px;
   margin: 70px auto 0px auto;
   text-align: center;
}
 body .container h1 {
   font-family: 'Droid Serif', serif;
   font-weight: 400;
   font-style: normal;
   font-size: 30px;
   margin-bottom: 30px;
}
 body .container h1 span {
   font-weight: 700;
   font-style: italic;
   color: #d90368;
   border-bottom: 2px dashed currentColor;
}

.footer{
	
	background-color: #CD5C5C;
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   color: white;
   text-align: center;
}

table {
text-align: center;
  border-collapse: collapse;
  width: 100%;
}

th, td {
  text-align: center;
  padding: 8px;
}

tr:nth-child(even){text-align: center; background-color: #f2f2f2;}

th {
text-align: center;
  background-color: #CD5C5C;
  color: white;
}

#mapid { height: 180px; }

.button {
  background-color: #CD5C5C; /* Green */
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.button1 {border-radius: 2px;}
.button2 {border-radius: 4px;}
.button3 {border-radius: 8px;}
.button4 {border-radius: 12px;}
.button5 {border-radius: 50%;}


.effect {
   text-align: center;
   display: inline-block;
   position: relative;
   text-decoration: none;
   text-transform: capitalize;
  background: #f7f7f7;
   color: #999;
   font-family: 'Roboto', sans-serif;
  /* put your font-family */
   font-size: 18px;
   padding: 20px 0px;
   width: 150px;
   border-radius: 6px;
   overflow: hidden;
}
/* effect-1 styles */
 .effect.effect-1 {
   transition: all 0.2s linear 0s;
}
 .effect.effect-1:before {
   content: "\f178";
   background: #f7f7f7;
   color: #999;
   font-family: FontAwesome;
   font-size: 15px;
   position: absolute;
   display: flex;
   align-items: center;
   justify-content: center;
   right: 0;
   top: 0;
   opacity: 0;
   height: 100%;
   width: 40px;
   transition: all 0.2s linear 0s;
}
 .effect.effect-1:hover {
   text-indent: -20px;
}
 .effect.effect-1:hover:before {
   opacity: 1;
   text-indent: 0px;
}
/* effect-2 styles */
 .effect.effect-2 {
   transition: all 0.2s linear 0s;
}
 .effect.effect-2:before {
   content: "\f0a4";
   font-family: FontAwesome;
   font-size: 15px;
   display: flex;
   align-items: center;
   justify-content: center;
   position: absolute;
   top: 0;
   right: -30px;
   width: 30px;
   height: 100%;
   background-color: rgba(255, 255, 255, 0.3);
   border-radius: 0px 6px 6px 0px;
   transition: all 0.2s linear 0s;
   text-align: center;
}
 .effect.effect-2:hover {
   text-indent: -30px;
}
 .effect.effect-2:hover:before {
   right: 0;
   text-indent: 0px;
}
/* effect-3 styles */
 .effect.effect-3 {
   transition: all 0.2s linear 0s;
}
 .effect.effect-3:before {
   content: "\f178";
   font-family: FontAwesome;
   position: absolute;
   display: flex;
   align-items: center;
   justify-content: center;
   position: absolute;
   top: 100%;
   left: 0px;
   width: 100%;
   height: 100%;
   text-align: center;
   font-size: 30px;
   transition: all 0.2s linear 0s;
}
 .effect.effect-3:hover {
   text-indent: -9999px;
}
 .effect.effect-3:hover:before {
   top: 0;
   text-indent: 0;
}
/* effect-4 styles */
 .effect.effect-4 {
   transition: all 0.2s linear 0s;
}
 .effect.effect-4:before {
   content: "\f178";
   font-family: FontAwesome;
   display: flex;
   align-items: center;
   justify-content: center;
   position: absolute;
   top: 0;
   left: 0px;
   width: 100%;
   height: 100%;
   text-align: center;
   font-size: 30px;
   transform: scale(0, 1);
   transition: all 0.2s linear 0s;
}
 .effect.effect-4:hover {
   text-indent: -9999px;
}
 .effect.effect-4:hover:before {
   transform: scale(1, 1);
   text-indent: 0;
}
/* effect-5 styles */
 .effect.effect-5 {
   transition: all 0.2s linear 0s;
}
 .effect.effect-5:before {
   content: "\f054";
   font-family: FontAwesome;
   display: flex;
   align-items: center;
   justify-content: center;
   position: absolute;
   top: 0;
   left: 0px;
   height: 100%;
   width: 30px;
   background-color: rgba(255, 255, 255, 0.3);
   border-radius: 0 50% 50% 0;
   transform: scale(0, 1);
   transform-origin: left center;
   transition: all 0.2s linear 0s;
}
 .effect.effect-5:hover {
   text-indent: 30px;
}
 .effect.effect-5:hover:before {
   transform: scale(1, 1);
   text-indent: 0;
}
 .select-wrapper {
   position: relative;
}
 .select-wrapper select {
   display: none;
}
 .select-wrapper .select-btn {
   display: flex;
   background: #CD5C5C;
   text-decoration: none;
   text-align: left;
   padding: 0;
   color: #f7f7f7;
   width: 100%;
   border: 0;
   height: 50px;
   border: 1px solid rgba(0, 0, 0, 0.25);
   cursor: pointer;
}
 .select-wrapper .select-btn .label {
   white-space: nowrap;
   text-overflow: ellipsis;
   flex-grow: 1;
   display: block;
   overflow: hidden;
   margin-right: 45px;
   padding: 0 0.75rem;
   display: flex;
   align-items: center;
}
 .select-wrapper .select-btn .caret {
   position: absolute;
   font-size: 1.25rem;
   top: 0;
   bottom: 0;
   right: 0;
   padding: 0 0.75rem;
   display: flex;
   align-items: center;
}
 .select-wrapper .select-btn img {
   width: 25px;
   margin-right: 5px;
   vertical-align: middle;
   border-radius: 50%;
}
 .select-wrapper .select-btn img ~ img {
   margin-left: 5px;
}
 .select-wrapper .select-btn .icon {
   margin-right: 5px;
   vertical-align: middle;
   border-radius: 50%;
   padding: 5px;
}
 .select-wrapper .select-btn .icon ~ .icon {
   margin-left: 5px;
}
 .select-wrapper .select-list {
   display: none;
   list-style: none;
   background: white;
   padding: 0;
   margin: 0;
   position: absolute;
   width: 100%;
   z-index: 99;
   box-sizing: border-box;
   border: 1px solid rgba(0, 0, 0, 0.25);
   border-width: 0 1px 1px;
}
 .select-wrapper .select-list li.search {
   height: 45px;
   display: flex;
   align-items: center;
   border: 1px solid rgba(0, 0, 0, 0.1);
   border-width: 0 0 1px 0;
   background: rgba(0, 0, 0, 0.05);
}
 .select-wrapper .select-list li.search .icon {
   height: 100%;
   display: flex;
   align-items: center;
   font-size: 1.25rem;
   padding: 0 0.75rem;
}
 .select-wrapper .select-list li.search .clear {
   display: none;
   align-items: center;
   height: 100%;
   padding: 0 0.75rem;
   font-size: 1.25rem;
   cursor: pointer;
}
 .select-wrapper .select-list li.search input {
   height: 100%;
   border: none;
   border-radius: 0;
   padding: 0;
   flex-grow: 1;
   background: transparent;
}
 .select-wrapper .select-list li.no-result {
   display: none;
   height: 50px;
   line-height: 50px;
   padding: 0 0.75rem !important;
   text-align: center;
}
 .select-wrapper .select-list li.option {
   padding: 0 0.75rem;
   height: 50px;
   user-select: none;
   cursor: pointer;
   position: relative;
   display: flex;
   align-items: center;
   color: #000;
}
 .select-wrapper .select-list li.option img {
   width: 25px;
   margin-right: 5px;
   margin-left: -5px;
   vertical-align: middle;
   border-radius: 50%;
}
 .select-wrapper .select-list li.option .icon {
   margin-right: 5px;
   vertical-align: middle;
   border-radius: 50%;
   padding: 5px;
}
 .select-wrapper .select-list li.option:hover {
   background: rgba(0, 0, 0, 0.05);
}
 .select-wrapper .select-list li.option[selected] {
   background: rgba(0, 0, 0, 0.1);
}
 .select-wrapper .select-list li.option[disabled] {
   opacity: 0.25;
}
 .select-wrapper .select-list li.option[placeholder] {
   display: none !important;
}
 .select-wrapper .select-list li.option .check {
   position: absolute;
   right: 0;
   top: 0;
   bottom: 0;
   display: flex;
   align-items: center;
   padding-right: 0.75rem;
}
 .select-wrapper .select-list li.group span {
   cursor: default;
   padding: 0.75rem;
   display: block;
   user-select: none;
}
 .select-wrapper .select-list li.group span ~ li {
   padding-left: 2rem !important;
}
 .select-wrapper .select-list li.group ul {
   list-style: none;
   padding: 0;
   margin: 0;
}
 .select-wrapper .select-list li.group ul li {
   padding-left: 1.5rem;
}
 .input-group {
   position: relative;
   margin: 1rem 0;
}
 .input-group label {
   display: block;
   margin-bottom: 0.5rem;
   color: #CD5C5C;
}
 input[type="text"], input[type="search"], select, textarea {
   display: block;
   width: 100%;
   padding: 0.5rem;
   box-sizing: border-box;
   border: 1px solid #aaa;
   outline: none;
   border-radius: 3px;
}
 input[type="text"]:focus, input[type="search"]:focus, select:focus, textarea:focus {
   border-color: rgba(52, 152, 219, 0.5);
}
 body {
   background: #f7f7f7;
   color: #999;
   display: flex;
   flex-direction: column;
   justify-content: center;
   font-family: "Lato";
   font-weight: 300;
}
 h1, h2, h3 {
   font-weight: 300;
}
 h1 {
   color: #CD5C5C;
}
 span[text] {
   font-size: 1.1rem;
   position: relative;
   display: block;
   margin: 1rem 0 0.5rem;
}
 span[text]:before {
   position: relative;
   content: attr(text);
   display: inline-block;
   background: #f7f7f7;
   color: #CD5C5C;
   padding-right: 0.75rem;
   z-index: 1;
}
 span[text]:after {
   content: "";
   display: block;
   height: 1px;
   background: #CD5C5C;
   position: absolute;
   top: 50%;
   left: 0;
   width: 100%;
}
 sup {
   color: #CD5C5C;
   font-weight: 500;
   font-size: 0.75rem;
   top: -1em;
}
 .container {
   width: 80%;
   max-width: 1024px;
   margin: auto;
}
 .text-center {
   text-align: center;
}
 .row:before, .row:after {
   content: "";
   display: table;
   clear: both;
}
 .half {
   width: 50%;
   float: left;
   box-sizing: border-box;
   padding: 0 15px;
}
 @media screen and (max-width: 789px) {
   .half {
     width: 100%;
  }
}


 